<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SIG-AUTH 前端测试界面</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.39/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script> 

<!-- 本地 cdn
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <script src="./js/vue.global.min.js"></script>
    <script src="./js/crypto-js.min.js"></script> 
-->
</head>

<style>
    .card-title {
        text-align: center;
        margin: 10px;
    }
</style>

<body>
    <div id="app">
        <main>
            <div><h2 class="card-title">SIG-AUTH 前端测试界面</h2></div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <label class="col-2 col-form-label">host</label>
                        <div class="col-10">
                            <input type="text" class="form-control" v-model="host"
                                placeholder="后端请求 host+port, 不包含最后的最后的斜杠 比如 https://example.com" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-2 col-form-label">path</label>
                        <div class="col-10">
                            <input type="text" class="form-control" v-model="path"
                                placeholder="后端请求 path 路径，为空的话，默认为 /, 忽略后面的 ? 之后的 query 参数，如果是 query 参数的话，请到 path 这一栏填入" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <label class="col-2 col-form-label">Key</label>
                        <div class="col-10">
                            <input type="text" class="form-control" v-model="key"
                                placeholder="密钥组中的 key" />
                        </div>
                    </div>

                    <div class="row mt-1">
                        <label class="col-2 col-form-label">Secret</label>
                        <div class="col-10">
                            <input type="text" class="form-control" v-model="secret"
                                placeholder="密钥组中的 secret" />
                        </div>
                    </div>

                    <div class="row mt-1">
                        <label class="col-2 col-form-label">Query Params</label>
                        <div class="col-10">
                            <input type="text" class="form-control" v-model="query"
                                placeholder="path 后面的请求参数, 不需要填 ?, 直接 key1=value1&key2=value2 即可，比如  name=zach&age=14" />
                        </div>
                    </div>

                    <div class="row mt-1">
                        <label class="col-2 col-form-label">Request Method</label>
                        <div class="col-10">
                            <select class="form-control" v-model="requestMethod">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="JSONP">JSONP</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-1" v-show="requestMethod === 'POST'">
                        <label class="col-2 col-form-label">Content-Type(POST)</label>
                        <div class="col-10">
                            <select class="form-control" v-model="contentType">
                                <option value="application/json">application/json</option>
                                <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-1" v-show="requestMethod === 'POST'">
                        <label class="col-2 col-form-label">POST body</label>
                        <div class="col-10">
                            <textarea class="form-control" v-model="postBody" rows="6"
                                placeholder='post body 内容, 输入标准的 json 串, 类似于
{
    "name":"zach",
    "age": 14
}
如果上面 content-type 选的是 application/x-www-form-urlencoded, 那么这个 json 就会被转换为参数 query 的方式，上例的 body 体就会变成 name=zach&age=14 
' >
                            </textarea>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-md-center">
                        <button class="col-3 btn btn-primary" class="form-control" @click="sendRequest">
                            Start
                        </button>
                    </div>

                    <div v-show="error" class="row mt-3 alert alert-danger">
                        {{error}}
                    </div>
                </div>
            </div>

            <div v-if="requestInfo" class="card mt-1">
                <div class="card-header">
                    <strong>Request information</strong>
                </div>
                <div class="card-body">
                    <div class="row mt-1">
                        <label class="col-2 col-form-label">URL</label>
                        <div class="col-10">
                            <input type="text" class="form-control" readonly :value="requestInfo.url" />
                        </div>
                    </div>

                    <div class="row mt-1">
                        <label class="col-2 col-form-label">String to sign</label>
                        <div class="col-10">
                            <textarea class="form-control" readonly
                                rows="9">{{requestInfo.stringToSign}}</textarea>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <label class="col-2 col-form-label">Signature</label>
                        <div class="col-10">
                            <input type="text" class="form-control" readonly :value="requestInfo.sign" />
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="requestInfo" class="card mt-1">
                <div class="card-header">
                    <strong>Final request</strong>
                </div>
                <div class="card-body">
                    <div>
                        <pre>
{{requestInfo.method}} {{requestInfo.url}}
Content-Type: {{requestInfo.contentType}}
Authorization: {{requestInfo.auth}}
Body: {{requestInfo.body}}
-----------------------------------------
Response Result: {{requestInfo.result}}
                        </pre>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</body>

<script>
    // 一些常量
    const ContentTypeJSON = "application/json"
    const ContentTypeForm = "application/x-www-form-urlencoded"


    /** 签名类 **/
    class SigAuth {
        /* 密钥组的 key */
        #key
        /* 密钥组的 secret */
        #secret
        /* 签名的时间戳 */
        #timestamp
        constructor(key, secret){
            this.#key = key
            this.#secret = secret
        }
        /**
         * 将对象按 UTF-8 字节顺序升序排好之后换成 key-value，然后取出 value 的值，拼接起来， value 为空，就取 key 的值
         * {"a":"1","b":"2"} 就会变成 12
         * {"a":"","b":"2"} 就会变成 a2
         * @param {object} obj - 一个对象
         */
        #getSortString(obj){
            let objString = ''
            const keys = Object.keys(obj).sort()
            for (const key of keys) {
                const value = obj[key]
                objString += value === '' ? key : value
            }
            return objString
        }
        /**
         * 将参数串转为对象，比如 name=zach&age=14 就会变成 {"name":"zach","age":14}
         * @param {string} query - url 后面的参数串， 比如 name=zach&age=14
         */
        #getQueryParams(query){
            let theRequest = {}
            let strs = query.split('&')
            for (let i = 0; i < strs.length; i++) {
                let tempArr = strs[i].split('=')
                theRequest[tempArr[0]] = tempArr.length > 1 ? tempArr[1] : tempArr[0]
            }
            return theRequest
        }
        /**
         * 返回要签名的签名串
         * @param {string} path - 路径
         * @param {string} method - 请求的方法
         * @param {string} queryParams - url 后面的参数串， 比如 name=zach&age=14
         * @param {string} contentType - 请求的 contentType
         * @param {object} postBody - 请求的 body 对象
         * @returns {string}
         */
        #buildStringToSign(path, method, queryParams, contentType, postBody) {
            let body = ''
            let query = ''
            // 处理 query 参数
            if(queryParams) {
                query += this.#getSortString(this.#getQueryParams(queryParams))
            }
            // 处理 post 请求
            if (method === 'POST') {
                // 如果是 json, 就直接将整个 json 串放进去
                if(contentType && contentType.indexOf(ContentTypeJSON)>=0) {
                    if(postBody){
                        body += JSON.stringify(postBody) + '\n'
                    }else{
                        body += '\n'
                    }
                } else {
                    // 如果是 form 的方式，就取 value 拼接
                    body += this.#getSortString(postBody) + '\n'
                }
            }
            return `${this.#timestamp}\n${method}\n${path}\n${query}\n${body}END`
        }

        /**
         * 使用 HMAC-SHA256 进行签名
         * @param {string} stringToSign - 通过 buildStringToSign() 得到签名串
         * @returns {string} - 返回 16 进制 hash.
         */
        #calculateSignature(stringToSign) {
            let hash = CryptoJS.HmacSHA256(stringToSign, this.#secret)
            let hex = CryptoJS.enc.Hex.stringify(hash)
            return hex
        }
        /**
         * 拼接 HTTP Authorization 头部值
         * @param {string} sign - Use calculateSignature() to get this value.
         * @returns {string}
         */
        #buildAuthHeader(sign) {
            return `SIG-AUTH Key=${this.#key}, Sign=${sign}, Timestamp=${this.#timestamp}, Version=1`
        }
        /**
         * 获取签名信息
         * @param {string} path - 路径
         * @param {string} method - 请求的方法
         * @param {string} query - url 后面的参数串， 比如 name=zach&age=14
         * @param {string} contentType - 请求的 contentType
         * @param {object} postBody - 请求的 body 对象
         * @returns {object} 签名相关信息
         */
        getSigAuth(path, method, query, contentType, postBody){
            this.#timestamp = Math.floor(Date.now() / 1000)
            // 计算签名串
            const stringToSign = this.#buildStringToSign(path, method, query, contentType, postBody)
            // 加密变成签名
            const sign = this.#calculateSignature(stringToSign)
            // 合成 auth 头部
            const auth = this.#buildAuthHeader(sign)
            return {
                "auth": auth,
                "sign": sign,
                "stringToSign": stringToSign,
                "timestamp": this.#timestamp
            }
        }
    }


    /** API Caller. */
    class ApiCaller {
        constructor(host, key, secret) {
            this.host = host
            this.key = key
            this.secret = secret
        }
        /**
         * 发送 fetch 请求
         * @param {string} url - 请求 url
         * @param {string} auth - 签名头部
         * @param {object} requestObj - request 对象体
         * @returns {Promise}
         */
        sendFetchRequest(url, auth, requestObj){
            return new Promise(resolve => {
                let contentType = requestObj.contentType
                const fetchOp = {
                    method: "GET",
                    headers: {
                        "Authorization": auth,
                    },
                }
                // 处理 post 请求
                if(requestObj.method === 'POST'){
                    fetchOp.method = "POST"
                    // 处理 post form 
                    if(contentType === ContentTypeForm){
                        let body = new URLSearchParams()
                        if(Object.keys(requestObj.postBody).length){
                            for (const [k, v] of Object.entries(requestObj.postBody)) {
                                body.append(k, v)
                            }
                        }
                        fetchOp.headers["Content-Type"] = contentType
                        fetchOp.body = body.toString()
                    }else{
                        // 如果是 json
                        fetchOp.headers["Content-Type"] = contentType
                        if(requestObj.postBody){
                            fetchOp.body = JSON.stringify(requestObj.postBody)
                        }else{
                            fetchOp.body = null
                        }
                        
                    }
                }
                const returnSuccess = result => {
                    resolve({
                        result: result,
                        body: fetchOp.body,
                        err: null
                    })
                }
                const returnFail = err => {
                    resolve({
                        result: null,
                        body: fetchOp.body,
                        err: err
                    })
                }
                // 接下来开始请求
                fetch(url, fetchOp).then(response => response.json())
                .then(returnSuccess)
                .catch(returnFail)
            })
        }

        /**
         * 进行签名并且请求后端
         * @param {string} path - 请求路径
         * @param {object} requestObj - request 对象体
         * @returns {Promise}
         */
        requestAsync(path, requestObj) {
            return new Promise(resolve => {
                // 判断是不是 jsonp
                const isJsop = requestObj.method === "JSONP"
                const callbackName = '_jsonp' + new Date().getTime()
                if(isJsop){
                    // 如果是 isJsop, 要将 callback 加入到 query 中
                    requestObj.query += `&callback=${callbackName}`
                }
                let url = `${this.host}${path}${requestObj.query ? ("?" + requestObj.query) : "" }`
                let method = isJsop ? "GET" : requestObj.method
                // 进行签名
                const sigAuth = new SigAuth(this.key, this.secret)
                const {auth, sign, stringToSign, timestamp} = sigAuth.getSigAuth(path, method, requestObj.query, requestObj.contentType, requestObj.postBody)

                const returnInfo = responseObj => {
                    return resolve({
                        method: requestObj.method,
                        path: path,
                        url: url,
                        timestamp: timestamp,
                        stringToSign: stringToSign,
                        sign: sign,
                        auth: auth,
                        contentType: requestObj.contentType,
                        body: responseObj.body,
                        result: responseObj.result,
                        err: responseObj.err,
                    })
                }
                // 处理 jsonp 请求
                if(isJsop){
                    // 添加 auth 参数
                    url += `&~auth=${encodeURIComponent(auth)}`
                    this.sendJsopRequest(url, callbackName).then(data => {
                        returnInfo({
                            body: null,
                            result: data,
                            err: null
                        })
                    },err => {
                        returnInfo({
                            body: null,
                            result: null,
                            err: err
                        })
                    })
                }else{
                    // 走 fetch
                    this.sendFetchRequest(url, auth, requestObj).then(returnInfo)
                }
                
            })
        }
        /**
         * 使用 jsonp 发送请求
         * @param {string} url - 请求 url
         * @param {string} callbackName - jsonp callback 参数，因为要参与签名，所以这边从外部传入
         * @returns {Promise}
         */ 
        sendJsopRequest(url, callbackName){
            return new Promise((resolve, reject) => {
                let script = document.createElement("script")
                window[callbackName] = response => {
                    try {
                        resolve(response)
                    } catch (e) {
                        reject(e)
                    } finally {
                        delete window[callbackName]
                        script.parentNode.removeChild(script)
                    }
                }
                script.src = url
                //出错处理
                script.onerror = () => {
                    resolve({error:"error"})
                    delete window[callbackName]
                    script.parentNode.removeChild(script)
                }
                document.body.appendChild(script)
            })
        }
    }
</script>

<script>
    const app = Vue.createApp({
        data() {
            return {
                host: "http://localhost:8012",
                path: "/sigauth/hello",
                key: "testkey1",
                secret: "secret1",
                query: "msg=123456",
                requestMethod: "GET",
                contentType: "application/json",
                postBody: `{"name":"22"}`,

                // 错误提示
                error: "",

                // 请求资讯
                requestInfo: null,
            }
        },

        methods: {
            prepareCaller() {
                this.error = ""
                this.requestInfo = null

                if (!this.host) {
                    this.error = "Host must be provided."
                    return null;
                }

                if (!this.key) {
                    this.error = "Key must be provided."
                    return null;
                }

                if (!this.secret) {
                    this.error = "Secret must be provided."
                    return null;
                }

                // 如果有选择 post 的话，并且 post 参数有值的话，那么要校验输入的 json 是否合格
                if(this.requestMethod === "POST" && this.postBody !== ""){
                    try{
                        let postBody = JSON.parse(this.postBody)
                        if(this.postBody[0] !== "{"){
                            this.error = "post body 必须是一个 json 串"
                            return null
                        }
                    }catch(e){
                        this.error = "post body 必须是一个严格的 json 串，可以到 http://www.bejson.com/ 格式化看看"
                        return null
                    }
                }

                return new ApiCaller(this.host, this.key, this.secret)
            },
            // 发送请求
            sendRequest() {
                const caller = this.prepareCaller()
                if (!caller) {
                    return
                }

                caller.requestAsync(this.path.split("?")[0], {
                    method: this.requestMethod,
                    query: this.query,
                    contentType: this.contentType,
                    postBody: this.postBody ? JSON.parse(this.postBody) : ""
                }).then(info => {
                    this.requestInfo = info
                    let json = info.result
                    if(info.err){
                        this.error = `HTTP fail -> ${this.requestInfo.err}`
                        return
                    }
                    // 处理失败情况
                    if (json.Code) {
                        this.error = `(${json.Code}) ${json.Message}`
                        return
                    }
                })
            }
        },

        mounted() {}
    })

    app.mount('#app')
</script>

</html>